@charset "utf-8";
@import "normalize";
@import "skeleton";

.container {
  max-width: 800px;
}

.navbar {
  border-bottom: 1px solid #eee;
}
.navbar > .container {
  width: 100%;
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.navbar-logo {
  a {
    font-size: 2rem;
  }
}
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.section-header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.intro-header {
  margin-top: .5rem;
}

.article-list {
  padding: 6rem 0;
}
article {
  h1 {
    margin-top: 2rem;
  }
  h3 span {
    font-size: 2.0rem;
    display: block;
  }
  img {
    width: 100%;
  }
}

footer {
  display: block;
  background: #eeeeee;
  padding: 0 0 2rem;
}
footer .container {
  padding-top: 1px;
}
.social-list {
  list-style: none;
  li {
    display: list-item;
  }
  a {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    text-indent: -99em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    &.twitter {
      background-image: url("/images/iconmonstr-twitter-4.svg");
    }
    &.github {
      background-image: url("/images/iconmonstr-github-1.svg");
    }
    &.linkedin {
      background-image: url("/images/iconmonstr-linkedin-4.svg");
    }
    &.rss {
      background-image: url("/images/iconmonstr-rss-feed-4.svg");
    }
  }
}

.youtube {
  width: 100%;
  @media (max-width: 750px) { height: 300px; }
  @media (min-width: 750px) { height: 500px; }
}
