<section>
  <h1 class="intro-header">Hello, I'm Patrick.</h1>

  <p>
    I'm a web developer based in London, England.
  </p>

  <p>
    I work as a technical lead at <a href="https://www.lostmy.name">Lostmy.name</a>, where I've played a big part of making magical bed times for over 1,500,000 children.
  </p>

  <p>
    Before that I was a technical lead at <a href="http://web.archive.org/web/20150630224133/http://www.sidekickstudios.net/">Sidekick Studios</a> and
    I was a principal software engineer at the <a href="http://www.bbc.co.uk">BBC</a>, working on the <a href="http://www.bbc.co.uk/radio/">Radio</a> and <a href="http://www.bbc.co.uk/music">Music</a> sites. I also spent a year with <a href="http://www.bbc.co.uk/radio1/">Radio 1</a> &amp; <a href="http://www.bbc.co.uk/1xtra/">Radio 1Xtra</a> Interactive.
  </p>

  <p>
    I was previously a researcher at the <a href="http://www.iam.ecs.soton.ac.uk/">Intelligence, Agents and Multimedia Group</a> and the <a href="http://www.lsl.ecs.soton.ac.uk/">Learning Societies Lab</a> at the <a href="http://www.soton.ac.uk">University of Southampton</a>, where I did a PhD on <a href="/research/phd/">Hypermedia and Augmented Reality</a>.
    See some of my <a href="/research/">research</a> and <a href="publications/" title="Publications">publications</a> I was involved in.
  </p>

  <p>
    Here are some side and hack day projects I have taken part in:
    <a href="http://mmsm.herokuapp.com">Music Monster Shape MashUp</a>,
    <a href="http://holidayfunclub.herokuapp.com/">Holiday Fun Club</a>,
    <a href="http://trendyradio.heroku.com">Trendy Radio</a>,
    <a href="http://mostancientestthingever.heroku.com">Most Ancientest Thing Ever</a>.
  </p>
</section>

<section>
  <h2 class="section-header">Why &#8216;metade&#8217;?</h2>
  <p>It means &#8216;half&#8217;: I am half-Portuguese, half-English. Olá!</p>
</section>

<section>
  <h2 class="section-header">Contact</h2>
  <p>
    Email me at <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#116;&#97;&#100;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#109;&#101;&#116;&#97;&#100;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a> or tweet <a href="http://twitter.com/metade">@metade</a>.
  </p>
</section>
