<section>
  <h1 class="intro-header">Hello, I'm Patrick.</h1>

  <p>
    I'm a web developer based in Lisbon, Portugal.
  </p>

  <p>
    I'm currently a Tech Lead at <a href="https://www.streetbees.com">Streetbees</a>.
  </p>

  <p>
    Previously at
    <a href="http://www.goodgym.org">GoodGym</a>,
    <a href="https://www.lostmy.name">Lostmy.name</a> (<a href="https://www.wonderbly.com/">Wonderbly</a>),
    <a href="http://web.archive.org/web/20150630224133/http://www.sidekickstudios.net/">Sidekick Studios</a>,
    <a href="http://www.bbc.co.uk">BBC</a>, and a
    <a href="/research/">researcher</a> at the
     <a href="http://www.soton.ac.uk">University of Southampton</a>
  </p>
</section>

<section>
  <h2 class="section-header">Why &#8216;metade&#8217;?</h2>
  <p>It means &#8216;half&#8217;: I am half-Portuguese, half-English. Olá!</p>
</section>

<section>
  <h2 class="section-header">Contact</h2>
  <p>
    Email me at <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#116;&#97;&#100;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#109;&#101;&#116;&#97;&#100;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a> or tweet <a href="http://twitter.com/metade">@metade</a>.
  </p>
</section>
